{% extends "base.html" %}

{% block maincontent %}
<div class="row align-items-start">
<div class="col">
            <h3> Artists </h3>
            <ol>
              {% for artist in artists %}
              <li> 
                {% if not current%}
                <a href="{{url_for('artist', artist_id = artist.id)}}">{{artist.name}} </a>
                {% elif current.id == artist.id %}
                <a class = "current text-info bg-dark" href="{{url_for('artist', artist_id = artist.id)}}">{{artist.name}} </a>
                {% else %}
                <a href="{{url_for('artist', artist_id = artist.id)}}">{{artist.name}} </a>
                {% endif %}
              </li>
              {% endfor %}
            </ol>
</div>
<div class = "col" id="react"></div>
</div>
{% endblock %}
